.movie-form {

  a {
    display: block;
    margin-top: 5px;
  }

  .movie-form-error-msg {
    font-size: 10pt;
    color: firebrick;
  }

  .director-first-name-input {
    margin-bottom: 5px;
  }

  .firstName-field-container {
    .movie-form-error-msg {
      margin-bottom: 5px;
      margin-top: -5px;
    }
  }
}