.action-bar {
    width: 100vw;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 30px;
    padding-left: 10px;
}

main {
    width: 960px;
    margin: 0 auto;
}

ul {
    margin-top: 10px;
    list-style: none;
}

li:first-child {
    border-top: 1px solid black;
}

li {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

li a {
    text-decoration: none;
    color: black;
}

li:hover, li:hover a {
    background-color: black;
    color: white;
}

table {
    margin-top: 15px;
    width: 50%;
}

.movie-details a {
    display: block;
    margin-top: 5px;
}

.movie-details h1 {
    margin-top: 15px;
}